env
env*
.env
__pycache__/
*/__pycache__
test*
all-MiniLM-L6-v2
Ahmednogood/*
BAAI/*
cross-encoder/*
nlpaueb/*
test
RAG/rag_embeddings/[a-z]*
.cache/
static/lib
rag_embeddings/
logs/
files
database.db